#pg-juego-puzzle-handler{
    width: calc(100% - 10px);
    height: 90%;
   
    position: absolute;
    
    
    background-color: rgba(255, 0, 0, 0);

   
    
     
    display: block;
    z-index: -5001;
    visibility: hidden;

   
    
}

#framePuzzle{

width: 100%;
height: 100%;
 


}


#pagina3{
    background-color: rgba(250, 235, 215, 0);
}


@media only screen and (max-device-width: 640px) {
#page3 {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  
}
.page3-sub{
    display: none;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(127, 255, 212, 0);
    margin: 0;
    top: 0;
}
}

@media only screen and (min-device-width: 641px) {
    #page3 {
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      
    }
    .page3-sub{
        display: none;
        width: 100%;
        height:100%;
        background-color: rgba(127, 255, 212, 0);
        margin: 0;
        top: 0;
    }
    }

    #text-p3{
        text-align: center;
        margin-top: 20px;
    }

.p3-layout {
    width: 100%;
    height: 100%;

    display: grid;
    grid:
        "p2-item1 p2-item2 p2-item3" 1fr "p2-item4 p2-item5 p2-item6" 1fr "p2-item7 p2-item8 p2-item9" 1fr / 1fr 1fr 1fr;
    gap: 8px;

    justify-content: space-around;
    align-content: space-around;
    background-color: rgba(0, 0, 255, 0);

    justify-items: center;
    align-items: center;
     
}

 
#p3-item1-sub{
    
}

 


.p3-item{
    justify-items: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.p3-item img{

    width: 10vw;
    height: 10vw;
}

.p3-item p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
#p3-item1 {
    grid-area: p2-item1;
    background-color: rgba(165, 42, 42, 0);
    
}


#p3-item2 {
    grid-area: p2-item2;
}

#p3-item3 {
    grid-area: p2-item3;
}

#p3-item4 {
    grid-area: p2-item4;
}

#p3-item5 {
    grid-area: p2-item5;
}

#p3-item6 {
    grid-area: p2-item6;
}

#p3-item7 {
    grid-area: p2-item7;
}

#p3-item8 {
    grid-area: p2-item8;
}

#p3-item9 {
    grid-area: p2-item9;
}