#pg-juego-puzzle-handler{
    width: calc(100% - 10px);
    height: 90%;
   
    position: absolute;
    
    

    
    
     
    display: block;
    z-index: -5001;
    visibility: hidden;
    opacity: 1;
   
    
}

#juego-puzzle-button-back{
    position: absolute;
    left: calc(100% - 50px);
    top: 10px;
    color: rgb(240, 248, 255);
    background-color: #045968;
    font-family: 'Caveat', bold;
    font-weight:normal;
    font-size:35px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    
    
}

#juego-puzzle-button-back p{
    margin: 0;
    padding: 0;
    left: 11px;
    top: -7.5px;
    position: inherit;
    text-align: center;
    color: rgb(255, 255, 255);
}


#framePuzzle{

width: calc(100% - 0px);
height: calc(100% - 0px);
 
border: none;

background-color: rgba(255, 255, 255, 0);
margin-top: 0px;
margin-left: 0px;
}


#page_juego{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}







@media only screen and (max-device-width: 640px) {
#page_juego {
    position: absolute;
    width: calc(100% );
    height: calc(100% );
  
}
#page_juego{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}
.pagep_juego-sub{
    display: none;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(127, 255, 212, 0);
    margin: 0;
    top: 0;
}

.p_juego-item img{

    width: 19vw;
    height: 19vw;
    border-radius: 10%;
    
   
}

#text-p_juego{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

}

@media only screen and (min-device-width: 641px) {
    #page_juego {
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      
    }
    .pagep_juego-sub{
        display: none;
        width: 100%;
        height:100%;
        background-color: rgb(127, 255, 212);
        margin: 0;
        top: 0;
    }

    .p_juego-item img{

        width: 10vw;
        height: 10vw;
        border-radius: 10%;
        transform: scale(0.8);
       
    }
    #text-p_juego{
        text-align: center;
        margin-top: 20px;
    }


    }

 

.p_juego-layout {
    width: 100%;
    height: 100%;

    display: grid;
    grid:
        "p_juego-item1 p_juego-item2 p_juego-item3" 1fr "p_juego-item4 p_juego-item5 p_juego-item6" 1fr "p_juego-item7 p_juego-item8 p_juego-item9" 1fr / 1fr 1fr 1fr;
    gap: 8px;

    justify-content: space-around;
    align-content: space-around;
    background-color: rgba(0, 0, 255, 0);

    justify-items: center;
    align-items: center;
     
}

 
#p_juego-item1-sub{
    
}

 


.p_juego-item{
    justify-items: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
  
}


.p_juego-item:hover {
    /* Estilos para el hover del elemento img dentro de .p_juego-item */
    opacity: 1; /* Cambia la opacidad cuando se pasa el ratón por encima */
    transform: scale(1.4); /* Escala la imagen cuando se pasa el ratón por encima */
    
    border-radius: 20%;
  /*  box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.358); /* Propiedad de sombra */
  }



.p_juego-item p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
#p_juego-item1 {
    grid-area: p_juego-item1;
    background-color: rgba(165, 42, 42, 0);
    
}


#p_juego-item2 {
    grid-area: p_juego-item2;
}

#p_juego-item3 {
    grid-area: p_juego-item3;
}

#p_juego-item4 {
    grid-area: p_juego-item4;
}

#p_juego-item5 {
    grid-area: p_juego-item5;
}

#p_juego-item6 {
    grid-area: p_juego-item6;
}

#p_juego-item7 {
    grid-area: p_juego-item7;
}

#p_juego-item8 {
    grid-area: p_juego-item8;
}

#p_juego-item9 {
    grid-area: p_juego-item9;
}