#pagina2{
    background-color: rgba(250, 235, 215, 0);
    justify-content: center;
}


@media only screen and (max-device-width: 640px) {
#page2 {
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: rgba(0, 255, 255, 0);
  
}
.page2-sub{
    display: none;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    background-color: rgba(127, 255, 212, 0);
    margin: 0;
    top: 0;
    
}


.p2-layout {
    width: 100%;
    height: 100%;

    display: grid;
    grid:
        "p2-item1 p2-item2 p2-item3" 1fr "p2-item4 p2-item5 p2-item6" 1fr "p2-item7 p2-item8 p2-item9" 1fr / 1fr 1fr 1fr;
    gap: 8px;

    justify-content: space-around;
    align-content: space-around;
    background-color: rgba(0, 255, 98, 0);

    justify-items: center;  
    align-items: center;
     
}

#p2-back{
    width:calc(30px + 0.5vw);
    height: calc(30px + 0.5vw);
    position: absolute;
    background-color:var(--principal-color);
    border-radius: 50%;
    display: none;
    cursor: pointer;
    z-index: 5002;
}

#p2-item1-sub{
    
}

.arrow {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    
}

.arrow span {
    display: inherit;
    width: calc(7px + 0.5vw);
    height: calc(7px + 0.5vw);
    border-bottom: 2px solid white;
    border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin: -6px;
    
} 

.p2-item-x-img{

 background-color: rgba(0, 0, 255, 0);
 width: 14vw;
 height: 14vw;
 background-repeat: no-repeat;
       background-size: 100%;
    background-position: center;
}
.p2-item{
    
    cursor: pointer;
    user-select: none;
 
    display: flex; /* Establece el contenedor como un contenedor flexible */
    flex-direction: column; /* Los elementos estarán en una columna */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    
    background-color: rgba(255, 0, 106, 0);
}
.p2-item p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
#p2-item1 {
    grid-area: p2-item1;

    
    
}

#p2-item1-img{
    background-image: var(--icon-juega);
    
}

 


#p2-item2 {
    grid-area: p2-item2;
}
 
#p2-item2-img{
    background-image: var(--icon-audiolibro);
    
}

#p2-item3 {
    grid-area: p2-item3;
}
#p2-item3-img{
    background-image: var(--icon-musica);
    
}

#p2-item4 {
    grid-area: p2-item4;
}

#p2-item5 {
    grid-area: p2-item5;
}

#p2-item6 {
    grid-area: p2-item6;
}

#p2-item7 {
    grid-area: p2-item7;
}

#p2-item8 {
    grid-area: p2-item8;
}

#p2-item9 {
    grid-area: p2-item9;
}
 
}

@media only screen and (min-device-width: 641px) {
    #page2 {
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
      
    }
    .page2-sub{
        display: none;
        width: 100%;
        height:100%;
        background-color: rgba(127, 255, 212, 0);
        margin: 0;
        top: 0;
    }




    .p2-layout {
        width: 100%;
        height: 100%;
    
        display: grid;
        grid:
            "p2-item1 p2-item2 p2-item3" 1fr "p2-item4 p2-item5 p2-item6" 1fr "p2-item7 p2-item8 p2-item9" 1fr / 1fr 1fr 1fr;
        gap: 8px;
    
        justify-content: space-around;
        align-content: space-around;
        background-color: rgba(0, 0, 255, 0);
    
        justify-items: center;  
        align-items: center;
         
    }
    
    #p2-back{
        width:calc(30px + 0.5vw);
        height: calc(30px + 0.5vw);
        position: absolute;
        background-color:var(--principal-color);
        border-radius: 50%;
        display: none;
        cursor: pointer;
        z-index: 5002;
    }
    
    #p2-item1-sub{
        
    }
    
    .arrow {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(90deg);
        
    }
    
    .arrow span {
        display: block;
        width: calc(7px + 0.5vw);
        height: calc(7px + 0.5vw);
        border-bottom: 5px solid white;
        border-right: 5px solid rgb(255, 255, 255);
        transform: rotate(45deg);
        margin: -8px;
        
    } 
    
    
    .p2-item{
        cursor: pointer;
        user-select: none;
     
        display: flex; /* Establece el contenedor como un contenedor flexible */
        flex-direction: column; /* Los elementos estarán en una columna */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        
        background-color: rgba(255, 0, 106, 0);
    }
    .p2-item p{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    #p2-item1 {
        grid-area: p2-item1;
       
        
    }
    
    #p2-item1-img{
        background-color: rgba(0, 0, 255, 0);
        background-image: var(--icon-juega);
       width: 5vw;
       height: 5vw;
       background-repeat: no-repeat;
       background-size: 100%;
    background-position: center;
        
    
    
    }
    
    
    #p2-item2 {
        grid-area: p2-item2;
    }
    #p2-item2-img{
        background-color: rgba(0, 0, 255, 0);
        background-image: var(--icon-audiolibro);
       width: 5vw;
       height: 5vw;
       background-repeat: no-repeat;
       background-size: 100%;
    background-position: center;
        
    
    
    }
    
    #p2-item3 {
        grid-area: p2-item3;
    }
    #p2-item3-img{
        background-color: rgba(0, 0, 255, 0);
        background-image: var(--icon-musica);
       width: 5vw;
       height: 5vw;
       background-repeat: no-repeat;
       background-size: 100%;
    background-position: center;
        
    
    
    }
    
    #p2-item4 {
        grid-area: p2-item4;
    }
    
    #p2-item5 {
        grid-area: p2-item5;
    }
    
    #p2-item6 {
        grid-area: p2-item6;
    }
    
    #p2-item7 {
        grid-area: p2-item7;
    }
    
    #p2-item8 {
        grid-area: p2-item8;
    }
    
    #p2-item9 {
        grid-area: p2-item9;
    }



    }

