@charset "UTF-8";

*,
*::before,
*:after {
  box-sizing: border-box;
}


:root {
  --off-canvas: 50;
  --text-index: 40;
  --front: 30;
  --middle-front: 25;
  --middle: 20;
  --middle-back: 15;
  --back: 10;
  --hide: 5;

}

:root {
  --background-color: #0591aa;
}

@font-face {
  font-family: "Liu Jian Mao Cao";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url("https://jopzik.github.io/host/font.woff2");
}


body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 1.05vw;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #045968;
  background: var(--background-color);
}



#preloader {
  animation: changeColor 0.5s ease-in-out forwards;
  /* Aplica la animación solo una vez y mantiene el último estado */
}

@keyframes changeColor {
  from {
    background: white;
    /* Color de fondo inicial (blanco en este caso) */
  }

  to {
    background: var(--background-color);
    /* Color de fondo deseado */
  }
}



#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Ocupa toda la altura de la pantalla */
  background-color: #0591aa;
  /* Cambia el color de fondo según tu preferencia */
}

#preloader-container {
  width: 200px;
  position: absolute;
  top: 35%;
  left: 40% align-items: center;


}

.circle-loader {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle-loader .5s alternate infinite ease;
}

@keyframes circle-loader {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle-loader:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle-loader:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow-loader {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow-loader {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow-loader:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow-loader:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

#preloader span {
  position: absolute;
  top: 75px;

  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}






main {
  position: relative;
  height: 100vh;
  width: 100%;
  clip-path: circle(0% at 50% 50%);
  animation: body-circle 9s ease forwards;

}

@keyframes body-circle {
  to {
    clip-path: circle(100% at 50% 50%);
  }

}

.circle {
  border-radius: 50%;
}

/*.... mobile*/
@media only screen and (max-device-width: 640px) {
  [class*=button] {
    position: fixed;
    right: 1rem;

    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    z-index: var(--front);
    opacity: 0.25;
  }

  [class*=button]:hover {
    opacity: 1;
  }

  .button-audio {
    bottom: 7.5rem;
  }

  .button-audio::before {
    content: "🔊";
  }

  .button-audio.muted::before {
    content: "🔇";
  }

  .button-full {
    bottom: 4rem;
  }

  .button-full::before {
    content: "🖥️";
  }

  .button-full.full::before {
    content: "👈";
  }

  audio {
    display: none;
  }

  .active-audio {
    --size: 1.75rem;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 7.5rem;
    right: 6rem;
    padding: 0.55rem;
    height: 1.75rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: #FDAF1A;
    z-index: var(--front);
    animation: active-audio 0.75s ease-in-out infinite alternate;
  }

  .active-audio span {
    z-index: var(--front);
  }

  .active-audio::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: inherit;
    transform: translateX(660%) rotate(45deg);
    z-index: -1;
  }

  @keyframes active-audio {
    to {
      transform: translateX(1rem);
    }
  }

  .copy {
    font-family: sans-serif;
    font-size: 14px;
    position: fixed;
    top: 3.75rem;
    left: 6rem;
  }

  @media screen and (min-width: 600px) {
    .copy br {
      display: none;
    }
  }
}


/*.... desktop*/
@media only screen and (min-device-width: 641px) {
  [class*=button] {
    position: fixed;
    right: 1rem;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    z-index: var(--front);
    opacity: 0.25;
  }

  [class*=button]:hover {
    opacity: 1;
  }

  .button-audio {
    bottom: 1rem;
  }

  .button-audio::before {
    content: "🔊";
  }

  .button-audio.muted::before {
    content: "🔇";
  }

  .button-full {
    bottom: 5rem;
  }

  .button-full::before {
    content: "🖥️";
  }

  .button-full.full::before {
    content: "👈";
  }

  audio {
    display: none;
  }

  .active-audio {
    --size: 1.75rem;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 1rem;
    right: 6rem;
    padding: 0.55rem;
    height: 1.75rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: #FDAF1A;
    z-index: var(--front);
    animation: active-audio 0.75s ease-in-out infinite alternate;
  }

  .active-audio span {
    z-index: var(--front);
  }

  .active-audio::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: inherit;
    transform: translateX(660%) rotate(45deg);
    z-index: -1;
  }

  @keyframes active-audio {
    to {
      transform: translateX(1rem);
    }
  }

  .copy {
    font-family: sans-serif;
    font-size: 14px;
    position: fixed;
    top: 3.75rem;
    left: 6rem;
  }

  @media screen and (min-width: 600px) {
    .copy br {
      display: none;
    }
  }
}



@media only screen and (max-device-width: 640px) {
  .contenedor-detras {
    padding: 0;
    position: relative;
    z-index: 1;
    /* Z-index menor para que esté detrás */
  }

  .contenedor-delante {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 2;
  }
  
  
  
  #contenedorItems {
    display: flex ;
    justify-content: space-around;
    flex-direction: column; /* Cambia a column para disposición vertical */
    position: fixed;
    top: 60px;
    margin-left: 10px; /* Margen izquierdo de 100px */
    margin-right: 10px; /* Margen derecho de 5px */
    width: calc(100% - 20px); /* Resta el margen izquierdo y el margen derecho al 100% */
  }

     /* Definición de keyframes */
     @keyframes moverElemento {
      0% {
        flex-direction: column;
  
      }
  
      100% {
        flex-direction: row;
        top: 35px;
  
      }
    }
  
    /* Aplicación de la animación */
    #contenedorItems.animado {
      animation: moverElemento 1s ease forwards;
    }
 

  .linea {
    padding: 10px;
    border: 1px solid #00000000;
    font-size: 6vw;
    margin: 1px;
    margin-top: 20px;
    text-align: center;


  }

  .linea:last-child {
    margin-right: 0;
  }

  .linea {

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Efecto de rebote */
    transition: letter-spacing 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);


  }


  .linea:hover {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */
    color: #ffffff;
  }

  .linea:active {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */
    color: #077bbe;
  }
  @keyframes cambiarTamanioTexto {
    from {
      font-size: 6vw;
      margin-top: 20px;
    }

    to {
      font-size: 4vw;
      margin-top: 0px;
    }
  }

  .linea.animado {
    animation: cambiarTamanioTexto 1s forwards;
    /* Aplicación de la animación */
  }
  .linea.subrayado {
    text-decoration: underline;
    /* Subrayado cuando está activo */
  }

}

.contenedor-detras {

  padding: 0px;
  position: relative;
  z-index: 0;
  /* Z-index menor para que esté detrás */
}

/* BIG SCREEN*/


@media only screen and (min-device-width: 641px) {
  .contenedor-delante {
    background-color: rgba(144, 238, 144, 0);
    /* Color para el contenedor por delante */
    padding: 0px;
    position: absolute;
    top: 40%;
    /* Coloca en la mitad de la pantalla verticalmente */
    left: 50%;
    /* Coloca en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 4;
    /* Z-index mayor para que esté por delante */

    width: 100%;

    display: flex;

    align-items: center;
    visibility: hidden;

  }

  #contenedorItems {
    --distanciaY: 0;
    --distanciaX: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* Para alinear horizontalmente */
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
    /* Ocupar todo el ancho disponible */
    background-color: rgba(0, 0, 0, 0);

  }

  /* Definición de keyframes */
  @keyframes moverElemento {
    0% {
      transform: translate(calc (var(--distanciaX)*-1), calc (var(--distanciaY)*-1));

    }

    100% {
      transform: translate(calc(var(--distanciaX)), calc(var(--distanciaY)));
      margin-left: 38vw;
      margin-right: 2rem;
      margin-top: 0;
      color: #034a68;


    }
  }

  /* Aplicación de la animación */
  #contenedorItems.animado {
    animation: moverElemento 1s ease forwards;
  }





  .linea {
    padding: 10px;
    border: 1px solid #00000000;
    font-size: 2.8vw;
    margin: 1px;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    position: relative;

  }

  .linea:last-child {
    margin-right: 0;
  }

  .linea {

    font-size: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: letter-spacing 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);


  }

  .linea.subrayado {
    text-decoration: underline;
    /* Subrayado cuando está activo */
  }

  .linea:hover {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */

    color: #ffffff;


  }

  .linea:active {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */
    color: #ffffff;
  }

  @keyframes cambiarTamanioTexto {
    from {
      font-size: 2.8vw;
    }

    to {
      font-size: 2.3vw;
    }
  }

  .linea.animado {
    animation: cambiarTamanioTexto 1s forwards;
    /* Aplicación de la animación */
  }

}


/* Estilos para el contenedor que aparecerá después de 2 segundos */
.contenedor-delante {
  /* Resto de estilos ... */

  /* Ocultar inicialmente */
  opacity: 0;
}

/* Animación para mostrar el contenedor */
@keyframes aparecer {

  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Aplicar la animación al contenedor */
.contenedor-delante {
  /* Resto de estilos ... */

  /* Aplicar la animación después de 2 segundos */
  animation: aparecer 0.5s ease-in-out forwards 7s;
}

.linea {
  font-family: 'Caveat', cursive;
}

.text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: var(--text-index);
  pointer-events: none;
  animation: bounce-text 6000ms ease-in-out infinite alternate;
}

@keyframes bounce-text {
  0% {
    transform: translate3d(-49.5%, -90%, 0);
  }

  16% {
    transform: translate3d(-50%, -85%, 0);
  }

  32% {
    transform: translate3d(-50%, -95%, 0);
  }

  58% {
    transform: translate3d(-50%, -87%, 0);
  }

  74% {
    transform: translate3d(-50%, -90%, 0);
  }

  100% {
    transform: translate3d(-50.5%, -90%, 0);
  }
}

.text-container p {
  margin: 0;
  letter-spacing: 0.5vw;
  white-space: nowrap;
}

.text-container .text {
  position: absolute;
}

.text-container .text .placeholder {
  opacity: 0;
}

.text-container .text .p {
  overflow: hidden;
  max-width: 0;
}

.intro {
  position: absolute;
  opacity: 0;
  top: 20%;
  /* Alinea la parte superior al 50% de la pantalla */
  left: 50%;
  /* Alinea la izquierda al 50% de la pantalla */
  transform: translateY(-80%) translateX(-50%);
  /* Centra vertical y horizontalmente */
  animation: fadeIn 2.3s 3s forwards, bounce 1.9s ease-in-out 2.8s forwards, fadeOut 0.5s 7s forwards;
  /* Aplica la animación fadeIn con duración de 2 segundos */

}

.intro .name {
  font-size: 7vw;
}

.intro .title {
  font-size: 3.75vw;
}

.intro .title2 {
  font-size: 2vw;
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* Opacidad inicial: 0 */
  }

  to {
    opacity: 1;
    /* Opacidad final: 1 */
  }
}

@media only screen and (max-device-width: 640px) {
  .intro .name {
    font-size: 9vw;
  }

  .intro .title {
    font-size: 5.75vw;
  }

  .intro .title2 {
    font-size: 4vw;
    text-align: right;
  }
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(-80%) translateX(-50%);
    /* El inicio y el final deben estar en la posición original */
  }

  25% {
    transform: translateY(-70%) translateX(-50%);
    /* Baja */
  }

  75% {
    transform: translateY(-80%) translateX(-50%);
  }


}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* Opacidad inicial: 1 */
  }

  to {
    opacity: 0;
    /* Opacidad final: 0 */
  }
}



#cielo {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-image: url('./images/paisaje2/fondo.svg');
  position: relative;
  overflow: hidden;
  background-size: cover;
}

#nube1 {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 58%;
  /* Posición vertical centrada */
  left: 50%;
  /* Posición inicial centrada */
  transform: translate(-50%, -50%);
  animation: mover_nube1 50s forwards;
  /* Animación de movimiento de la nube */
  z-index: 3;

}

@keyframes mover_nube1 {
  0% {
    left: 50%;
    /* Comienza desde el centro de la pantalla */
  }

  100% {
    left: -50%;
    /* Llega a -10% (fuera de la pantalla a la izquierda) */
  }
}



#nube1b {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 20%;
  /* Posición vertical centrada */
  left: 50%;
  /* Posición inicial centrada */
  transform: translate(-50%, -50%);
  animation: mover_nube1b 45s linear infinite;
  /* Animación de movimiento de la nube */
  z-index: 3;

}

#nube1bb {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 23%;
  /* Posición vertical centrada */
  left: 55%;
  /* Posición inicial centrada */
  transform: translate(-48%, -50%);
  animation: mover_nube1b 45s linear infinite;
  /* Animación de movimiento de la nube */
  z-index: 3;

}


@keyframes mover_nube1b {
  0% {
    left: 120%;
    /* Comienza fuera de la pantalla en la derecha */
  }

  100% {
    left: -30%;
    /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
  }
}

#nube1 {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 58%;
  /* Posición vertical centrada */
  left: 50%;
  /* Posición inicial centrada */
  transform: translate(-50%, -50%);
  animation: mover_nube1 35s linear forwards;
  /* Animación de movimiento de la nube */
  z-index: 3;

}

@keyframes mover_nube1 {
  0% {
    left: 50%;
    /* Comienza desde el centro de la pantalla */
  }

  100% {
    left: -50%;
    /* Llega a -10% (fuera de la pantalla a la izquierda) */
  }
}

#nube2 {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 58%;
  /* Posición vertical centrada */
  left: 110%;
  /* Posición inicial centrada */
  transform: translate(-50%, -50%);
  animation: mover_nube2 40s linear infinite;
  /* Animación de movimiento de la nube */
  z-index: 3;
  animation-delay: 10s;
}

@keyframes mover_nube2 {
  0% {
    left: 110%;
  }

  100% {
    left: -10%;
    /* Llega a -10% (fuera de la pantalla a la izquierda) */
  }
}

#nube1c {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 30%;
  /* Posición vertical centrada */
  left: 120%;
  /* Posición inicial centrada */
  transform: translate(-50%, -50%);
  animation: mover_nube1c 45s linear infinite;
  /* Animación de movimiento de la nube */
  z-index: 3;
  animation-delay: 20s;
}

#nube1cc {
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 383.6 123.96"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="192.3" y1="21.28" x2="191.16" y2="168.15" gradientUnits="userSpaceOnUse"><stop offset=".07" stop-color="%23fff"/><stop offset=".73" stop-color="%23fff" stop-opacity="0"/></linearGradient></defs><g id="Capa_1-2" data-name="Capa 1"><g id="Capa_2-2" data-name="Capa 2"><g id="Capa_2-2" data-name="Capa 2-2"><path d="m329.66,67.37c-3.66-.76-6.89-1.29-9.27-1.61,2.48-24.51-38.88-27.09-56.18-26.55,1.43-18.98-20.48-17.7-34.23-17.18-2.52-12.91-15.59-12.72-26.47-9.33-5.07-17.55-24.83-14.76-33.06-1.49-15.7-23.02-42.68-7.46-37.52,18.39-7.33-19.03-64.98-11.76-52.93,18.62-10.04-5.42-21.71-4.56-21.03,6.95-11.26-2.64-24.84-1.67-19.87,10.5-13.68.07-28.26-1.14-39.1,8.05,14.11,20.54,59.51,12.37,81.03,13.52,1.22,7.72,21.61,18.73,22,11.85-.74,12.96,10.9,13.49,21.91,9.64,4.45,14.39,24.87,14.16,32.55,1.49,12.23,16.16,41.01,20.48,50.67-.35,11.49,2.92,25.22,3.92,32.86-6.24,10.3,4.15,24.13,5.18,30.57-1.56,1.88,10.63,37.07,10.64,41.11-4.69,3.92,1.01,64.04-.43,70.9.87l-53.92-30.87h-.02Z" style="fill: url(%23Degradado_sin_nombre_3); isolation: isolate; opacity: .53;"/></g></g></g></svg>');

  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: center;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: 33%;
  /* Posición vertical centrada */
  left: 120%;
  /* Posición inicial centrada */
  transform: translate(-48%, -50%);
  animation: mover_nube1c 45s linear infinite;
  /* Animación de movimiento de la nube */
  z-index: 3;
  animation-delay: 20s;
}


@keyframes mover_nube1c {
  0% {
    left: 120%;
    /* Comienza fuera de la pantalla en la derecha */
  }

  100% {
    left: -30%;
    /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
  }
}



/*    telefono       */
@media only screen and (max-device-width: 640px) {

  #cielo {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Capa_2" data-name="Capa 2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1076.05 1912.31"><defs><linearGradient id="Degradado_sin_nombre_3" data-name="Degradado sin nombre 3" x1="538.03" y1="1890.49" x2="538.03" y2="-154.76" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff"/><stop offset="0" stop-color="%23fcfefe"/><stop offset=".05" stop-color="%23c8f7fe"/><stop offset=".1" stop-color="%2399f1fe"/><stop offset=".16" stop-color="%2370ecfd"/><stop offset=".21" stop-color="%234de8fd"/><stop offset=".27" stop-color="%2331e4fd"/><stop offset=".34" stop-color="%231be1fd"/><stop offset=".4" stop-color="%230bdffd"/><stop offset=".49" stop-color="%2302defd"/><stop offset=".6" stop-color="%2300defd"/><stop offset=".81" stop-color="%2300cbf0"/><stop offset=".98" stop-color="%2300bae5"/></linearGradient></defs><g id="Capa_2-2" data-name="Capa 2"><rect width="1076.05" height="1912.31" style="fill: url(%23Degradado_sin_nombre_3);"/></g></svg>');
  }

  #nube1 {
    background-size: 30%;

  }

  #nube2 {
    background-size: 30%;

  }

  #nube1b {
    background-size: 25%;
  }

  #nube1bb {
    background-size: 32%;
  }

  #nube1c {
    background-size: 25%;
  }

  #nube1cc {
    background-size: 32%;
  }

  @keyframes mover_nube1b {
    0% {
      left: 120%;
      /* Comienza fuera de la pantalla en la derecha */
    }

    100% {
      left: -50%;
      /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
    }
  }

  @keyframes mover_nube1c {
    0% {
      left: 120%;
      /* Comienza fuera de la pantalla en la derecha */
    }

    100% {
      left: -50%;
      /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
    }
  }

}

/*    pantalla grande       */
@media only screen and (min-device-width: 641px) {
  #nube1 {
    background-size: 20%;
  }

  #nube2 {
    background-size: 20%;
  }

  #nube1b {
    background-size: 16%;
  }

  #nube1bb {
    background-size: 17%;
  }

  #nube1c {
    background-size: 16%;
  }

  #nube1cc {
    background-size: 17%;
  }
}



/*  montanas 1 ----> frente, mas cerca   */

#montanas_1 {
  --current1: 0vw;
  --index-dif1: 25vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* Altura deseada para el div */

  background-image: url("./images/paisaje2/c4_montanas1.svg");
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 2;
}

@media only screen and (max-device-width: 640px) {
  #montanas_1 {
  background-image: url("./images/paisaje2/c4_montanas1.png");
  }
  #montanas_2 {
    background-image: url("./images/paisaje2/c5_montanas2.png");
    }
    #montanas_3 {
      background-image: url("./images/paisaje2/c6_montanas3.png");
      }
}

#montanas_1.mover {
  animation: moverImagenFondo_montana1 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_1.mover_der {
  animation: moverImagenFondo_montana1_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana1 {
  from {
    background-position-x: calc(var(--current1, 0));
  }

  to {


    background-position-x: calc(var(--current1, 0) - var(--index-dif1, 25vw));
  }
}

@keyframes moverImagenFondo_montana1_der {
  from {
    background-position-x: calc(var(--current1, 0));
  }

  to {


    background-position-x: calc(var(--current1, 0) + var(--index-dif1, 25vw));
  }
}

#montanas_2 {
  --current2: 0vw;
  --index-dif2: 50vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* Altura deseada para el div */

  background-image: url("./images/paisaje2/c5_montanas_2.svg");
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 2;
}


#montanas_2.mover {
  animation: moverImagenFondo_montana2 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_2.mover_der {
  animation: moverImagenFondo_montana2_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana2 {
  from {
    background-position-x: calc(var(--current2, 0));
  }

  to {


    background-position-x: calc(var(--current2, 0) - var(--index-dif2, 50vw));
  }
}

@keyframes moverImagenFondo_montana2_der {
  from {
    background-position-x: calc(var(--current2, 0));
  }

  to {


    background-position-x: calc(var(--current2, 0) + var(--index-dif2, 50vw));
  }
}


#montanas_3 {
  --current3: 0vw;
  --index-dif1: 100vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* Altura deseada para el div */

  background-image: url("./images/paisaje2/c6_montanas_3.svg");
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 2;
}




#montanas_3.mover {
  animation: moverImagenFondo_montana3 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_3.mover_der {
  animation: moverImagenFondo_montana3_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana3 {
  from {
    background-position-x: calc(var(--current3, 0));
  }

  to {


    background-position-x: calc(var(--current3, 0) - var(--index-dif3, 100vw));
  }
}

@keyframes moverImagenFondo_montana3_der {
  from {
    background-position-x: calc(var(--current3, 0));
  }

  to {


    background-position-x: calc(var(--current3, 0) + var(--index-dif3, 100vw));
  }
}




#burrito1-container {
  width: 100%;
  height: 100vh;
  /* Altura de la pantalla */
  position: fixed;
  bottom: 0;
  /* Se ubica en la parte inferior */
  left: 0;
  /* Alineación a la izquierda */
  z-index: 3;

  display: flex;
  justify-content: center;
  /* Centrado horizontal */
}

#burrito1 {

  background-image: url("./images/burrito.svg");


  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: bottom;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: -30px;
  /* Posición vertical centrada */
  left: 0%;
  /* Posición inicial centrada */

  transform: scaleX(-1);
  /* Voltea verticalmente la imagen */
  z-index: 3;
  background-size: 20%;
}


@keyframes moverDerecha {
  from {
    left: 0%;
  }

  to {
    left: 110%;
    /* Movimiento hacia la derecha */
  }
}

#burrito1.mover {
  animation: moverDerecha 1s ease-in forwards;
  /* Duración de la animación: 1 segundo */
}

#sol {
  background-size: 100% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* Altura deseada para el div */

  background-image: url("./images/paisaje2/sol2.svg");
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 1;

}


#fondo_nubes {

  background-size: 300% auto;
  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* Altura deseada para el div */

  background-image: url('./images/paisaje2/c3_nubes_detras_v2.svg');
  position: fixed;
  overflow: hidden;
  z-index: 1;
  /* Aplica la animación */
  animation: moverNubes_fondo 490s linear infinite;
  /* Ajusta la duración y el efecto según sea necesario */
  
}

@keyframes moverNubes_fondo {
  0% {
    background-position-x: left; /* Comienza en la posición actual */
  }
  100% {
    background-position-x: 300%; /* Mueve completamente a la izquierda */
  }
}

#contenedor-titulo {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0);
  /* Solo para visualizar el contenedor */
  padding: 20px;
  /* Añade un poco de espacio alrededor del contenido */
  opacity: 0;

  /* Centrar horizontalmente */
  position: absolute;
  left: 62%;
  transform: translateX(-50%);
  top: 5%;
  letter-spacing: 0.5vw;
  white-space: nowrap;
  z-index: 4;
  animation: fadeInTit 0.5s 7s forwards;
  scale: 2;
}

@keyframes fadeInTit {
  from {
    opacity: 0;
    /* Opacidad inicial: 0 */
  }

  to {
    opacity: 1;
    /* Opacidad final: 1 */
  }
}

#contenedor-titulo.animado {
  animation: newTitAnim 0.5s forwards;
}

@keyframes newTitAnim {

  0% {
    scale: 1;
    opacity: 0;
    left: 50%;
    /* Inicia en el centro */
    transform: translateX(-50%);
    top: 5%;

  }

  100% {

    scale: 1;
    opacity: 1;
    left: 0;
    /* Se mueve hacia el borde izquierdo */
    top: 0;
    transform: translateX(0);

  }
}







#nuevo-titulo,
#nuevo-subtitulo,
#nuevo-autorTitulo {
  margin: 0;

}


@media only screen and (max-device-width: 640px) {

  #contenedor-titulo {
    
  top: 0%;
  left: 0%;
  position: fixed;
  transform: translateX(50%);
  
  }
  #nuevo-titulo {
    font-size: 2.5vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }

  #nuevo-subtitulo {
    font-size: 1.6vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;
  }

  #nuevo-autorTitulo {
    font-size: 2.25vw;
    text-align: right;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }
}


@media only screen and (min-device-width: 641px) {
  #nuevo-titulo {
    font-size: 2vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }

  #nuevo-subtitulo {
    font-size: 1.125vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;
  }

  #nuevo-autorTitulo {
    font-size: 0.75vw;
    text-align: right;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }
}