@charset "UTF-8";

*,
*::before,
*:after {
  box-sizing: border-box;
}


:root {
  --off-canvas: 50;
  --text-index: 40;
  --front: 30;
  --middle-front: 25;
  --middle: 20;
  --middle-back: 15;
  --back: 10;
  --hide: 5;

}

:root {
  --background-color: #0591aa;
}

@font-face {
  font-family: "Liu Jian Mao Cao";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url("https://jopzik.github.io/host/font.woff2");
}


body {

  margin: 0;
  overflow: hidden;
  font-size: 1.05vw;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #045968;
  background: var(--background-color);
  padding: 0;
  /*padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);*/
  box-sizing: border-box;

}



#preloader {
  animation: changeColor 0.5s ease-in-out forwards;
  /* Aplica la animación solo una vez y mantiene el último estado */
}

@keyframes changeColor {
  from {
    background: white;
    /* Color de fondo inicial (blanco en este caso) */
  }

  to {
    background: var(--background-color);
    /* Color de fondo deseado */
  }
}



#preloader {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  /* Ocupa toda la altura de la pantalla */
  background-color: #0591aa;
  /* Cambia el color de fondo según tu preferencia */
}

#preloader-container {
  width: 200px;
  position: absolute;

  align-items: center;



}

.circle-loader {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle-loader .5s alternate infinite ease;
}

@keyframes circle-loader {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle-loader:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle-loader:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow-loader {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow-loader {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow-loader:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow-loader:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

#preloader span {
  position: absolute;
  top: 75px;

  font-size: 20px;
  letter-spacing: 12px;
  color: #fff;
  left: 15%;
}






main {
  position: relative;
  height: 100vh;
  width: 100%;
  clip-path: circle(0% at 50% 50%);
  animation: body-circle 9s ease forwards;

}

@keyframes body-circle {
  to {
    clip-path: circle(100% at 50% 50%);
  }

}

.circle {
  border-radius: 50%;
}

/*.... mobile*/
@media only screen and (max-device-width: 640px) {
  [class*=button] {
    position: fixed;
    right: 1rem;

    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    z-index: var(--front);
    opacity: 0.25;
  }

  [class*=button]:hover {
    opacity: 1;
  }

  .button-audio {
    bottom: 7.5rem;
  }

  .button-audio::before {
    content: "🔊";
  }

  .button-audio.muted::before {
    content: "🔇";
  }

  .button-full {
    bottom: 4rem;
  }

  .button-full::before {
    content: "🖥️";
  }

  .button-full.full::before {
    content: "👈";
  }

  audio {
    display: none;
  }

  .active-audio {
    --size: 1.75rem;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 7.5rem;
    right: 6rem;
    padding: 0.55rem;
    height: 1.75rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: #FDAF1A;
    z-index: var(--front);
    animation: active-audio 0.75s ease-in-out infinite alternate;
  }

  .active-audio span {
    z-index: var(--front);
  }

  .active-audio::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: inherit;
    transform: translateX(660%) rotate(45deg);
    z-index: -1;
  }

  @keyframes active-audio {
    to {
      transform: translateX(1rem);
    }
  }

  .copy {
    font-family: sans-serif;
    font-size: 14px;
    position: fixed;
    top: 3.75rem;
    left: 6rem;
  }

  @media screen and (min-width: 600px) {
    .copy br {
      display: none;
    }
  }
}


/*.... desktop*/
@media only screen and (min-device-width: 641px) {
  [class*=button] {
    position: fixed;
    right: 1rem;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 2.5rem;
    z-index: var(--front);
    opacity: 0.25;
  }

  [class*=button]:hover {
    opacity: 1;
  }

  .button-audio {
    bottom: 1rem;
  }

  .button-audio::before {
    content: "🔊";
  }

  .button-audio.muted::before {
    content: "🔇";
  }

  .button-full {
    bottom: 5rem;
  }

  .button-full::before {
    content: "🖥️";
  }

  .button-full.full::before {
    content: "👈";
  }

  audio {
    display: none;
  }

  .active-audio {
    --size: 1.75rem;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 1rem;
    right: 6rem;
    padding: 0.55rem;
    height: 1.75rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    background: #FDAF1A;
    z-index: var(--front);
    animation: active-audio 0.75s ease-in-out infinite alternate;
  }

  .active-audio span {
    z-index: var(--front);
  }

  .active-audio::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.25rem;
    height: 1.25rem;
    background: inherit;
    transform: translateX(660%) rotate(45deg);
    z-index: -1;
  }

  @keyframes active-audio {
    to {
      transform: translateX(1rem);
    }
  }

  .copy {
    font-family: sans-serif;
    font-size: 14px;
    position: fixed;
    top: 3.75rem;
    left: 6rem;
  }

  @media screen and (min-width: 600px) {
    .copy br {
      display: none;
    }
  }
}

/*------------------------------------------------------------ >>>>>>         mobile*/
@media only screen and (max-device-width: 640px) {
  #contenedor-delante2 {
    width: 100vw;
    height: 100vh;
    background-color: #f3101000;
    position: fixed;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    top: 0;
    z-index: 2;
    opacity: 1;

  }

  #contenedor-delante3 {
    width: auto;
    height: auto;
    background-color: #00094000;
    border-color: #0591aa00;
    border-width: 2px;
    position: fixed;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    top: 0;
    z-index: 2;

    flex-direction: column;
    opacity: 0;
  }



  #contenedor-principal {
    background-color: rgba(251, 255, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

  }

  #contenedor-principal2 {
    margin-top: 1vh;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0);
    width: 98%;
    height: 73vh;
    z-index: 2;
    display: flex;
    position: relative;

  }

  #pagina1 {

    background-color: rgba(231, 231, 231, 0);
    width: calc(100% - 10px);
    ;
    height: calc(100% - 10px);
    z-index: 2;
    display: flex;
    position: relative;
    margin: 5px;

  }



  #contenedor-delante {
    position: relative;
    top: 0;
    background-color: rgba(255, 0, 140, 0);
    z-index: 2;
    width: 100vw;
    /* Ancho automático para ajustarse al contenido */
    height: auto;
    /* Altura automática para ajustarse al contenido */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: nowrap;
    flex-direction: column;






  }

  @keyframes moverContenedor-delante {
    from {}

    to {



      top: 0;
    }
  }

  /* Aplicación de la animación */
  #contenedor-delante.animadox {
    opacity: 1;
    flex-direction: column;

    justify-content: left;

    align-items: flex-start;

    animation: moverContenedor-delante 0.5s ease forwards;

  }

  #contenedor-titulo {
    display: flex;
    flex-direction: column;

    background-color: #fdae1a00;
    border: 1px solid rgba(140, 255, 52, 0);
    /* Solo para visualizar el contenedor */
    padding: 20px;
    /* Añade un poco de espacio alrededor del contenido */
    opacity: 0;

    margin-bottom: 1vh;
    /* Centrar horizontalmente */

    width: auto;
    height: auto;

    letter-spacing: 0.5vw;
    white-space: nowrap;

    animation: fadeInTit 0.5s 7s forwards;

    z-index: 2;
  }

  @keyframes fadeInTit {
    from {
      opacity: 0;
      /* Opacidad inicial: 0 */
    }

    to {
      opacity: 1;
      /* Opacidad final: 1 */
    }
  }

  @keyframes newTitAnim {

    0% {}

    100% {
      padding-top: 0px;
      margin-top: 0px;
      padding-bottom: 0%;
      margin-bottom: 0px;

    }
  }

  #contenedor-titulo.animado {

    opacity: 1;
    animation: newTitAnim 0.5s forwards;
  }

  #nuevo-titulo {
    font-size: 40px;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;

  }

  @keyframes newTitAnimex {

    0% {}

    100% {
      font-size: 15px;
      margin-top: 5px;
    }
  }

  #nuevo-titulo.animado {


    animation: newTitAnimex 0.5s forwards;
  }


  #nuevo-subtitulo {
    font-size: 23px;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;
  }

  #nuevo-autorTitulo {
    font-size: 15px;
    text-align: right;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }

  #contenedorItems0 {
    width: calc(100% + 1vw);
    height: auto;
    background-color: rgba(255, 123, 0, 0);
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-left: -1vw;

    margin-top: 5vw;



  }

  @keyframes moverItems0 {
    from {
      margin-top: 30px;
    }

    to {
      margin-top: 10px;

    }
  }

  #contenedorItems0.animate {
    animation: moverItems0 1s ease forwards;
    /* Nombre de la animación, duración y función de temporización */
  }

  #conthandler {
    background-color: #ffffff00;
    width: 1vw;
    height: auto;


  }


  #c-text-handler {
    font-size: 1.9vvw;

    scale: (1.2);
    user-select: none;
    color: transparent;
  }

  #contenedorItems {

    display: flex;

    justify-content: space-around;
    align-items: center;

    flex-direction: column;
    /* Para alinear horizontalmente */
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
    /* Ocupar todo el ancho disponible */
    background-color: rgba(0, 99, 141, 0);
    border-color: #ffffff00;
    border-width: 1px;
    border-style: solid; 
    border-radius: 7vw;
    z-index: 2;

  }

   

  #contenedorItems.animatebg{
    background-color: rgba(0, 99, 141, 0.459); /* Fondo con color */
    border-color: #ffffff; /* Borde con color */
    animation: fadeInBackground-ci 0.5s ease forwards;
  }

  /* Definición de keyframes */
  @keyframes moverElemento {
    0% {
      /* transform: translate(calc (var(--distanciaX)*-1), calc (var(--distanciaY)*-1));*/

    }

    100% {
      /* transform: translate(calc(var(--distanciaX)), calc(var(--distanciaY)));*/
      /* margin-left: 38vw;*/
      /* margin-right: 2rem;*/
      /* margin-top: 0;*/
      color: #034a68;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 0;


    }
  }

  /* Aplicación de la animación */
  #contenedorItems.animado {
    flex-direction: row;
    width: calc(100% - 2vw);
    animation: moverElemento 0.1s ease forwards;

  }



  #contenedorItems0-titulos {
    background-color: #0591aa00;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  #tit-0 {
    background-color: #fdae1a00;
    justify-content: center;
    font-size: 8vw;
    color: #fff;
    font-family: 'Caveat', cursive;


  }

  .linea {
    padding: 10px;
    border: 1px solid #034a5700;
    font-size: 7vw;
    margin: 1px;
    margin-right: 0px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    position: relative;
    white-space: pre-wrap;
    letter-spacing: 0.01em
  }

  .linea:last-child {
    /*margin-right: 0;*/
  }



  .linea.subrayado {
    text-decoration: underline;
    /* Subrayado cuando está activo */
  }

  .linea {

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Efecto de rebote */
    transform-origin: center;



  }


  .linea:hover {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Restablece la transición al tamaño normal al final de la animación */

    color: #ffffff;
  }


  .linea:active {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */

    /* Cambia el espaciado entre letras al pasar el mouse */
    color: #077bbe;
  }

  @keyframes cambiarTamanioTexto {
    from {
      font-size: 7vw;
    }

    to {
      font-size: 4.5vw;

    }
  }

  .linea.animado {

    animation: cambiarTamanioTexto 0.3s forwards;
    /* Aplicación de la animación */
  }

  .linea img {

    width: calc((100vw / 5) - 9vw);
    height: calc((100vw / 5) - 9vw);
    display: none;
  }

}


/*-----------------------------------------------------------------><>>> BIG SCREEN*/


@media only screen and (min-device-width: 641px) {
  #contenedor-delante2 {
    width: 100vw;
    height: 100vh;
    background-color: #f3101000;
    position: fixed;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    top: 0;
    z-index: 2;
    opacity: 1;

  }

  #contenedor-delante3 {
    width: auto;
    height: auto;
    background-color: #00094000;
    border-color: #0591aa00;
    border-width: 2px;
    position: fixed;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    top: 0;
    z-index: 2;

    flex-direction: column;
    opacity: 0;
  }

  #contenedor-principal {
    background-color: rgba(251, 255, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

  }

  #contenedor-principal2 {
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    height: 75vh;
    z-index: 2;
    display: flex;
    position: relative;

  }

  #pagina1 {

    background-color: rgba(231, 231, 231, 0.306);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2;
    display: flex;
    position: relative;
    margin: 5px;

  }



  #contenedor-delante {
    position: relative;
    top: 0;
    background-color: rgba(255, 0, 140, 0);
    z-index: 2;
    width: 100vw;
    /* Ancho automático para ajustarse al contenido */
    height: auto;
    /* Altura automática para ajustarse al contenido */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: nowrap;
    flex-direction: column;




    top: 10%;

  }

  @keyframes moverContenedor-delante {
    from {}

    to {



      top: 0;
    }
  }

  /* Aplicación de la animación */
  #contenedor-delante.animadox {
    opacity: 1;
    flex-direction: row;

    justify-content: left;

    align-items: flex-start;

    animation: moverContenedor-delante 0.5s ease forwards;

  }

  #contenedor-titulo {
    display: flex;
    flex-direction: column;

    background-color: #fdae1a00;
    border: 1px solid rgba(140, 255, 52, 0);
    /* Solo para visualizar el contenedor */
    padding: 20px;
    /* Añade un poco de espacio alrededor del contenido */
    opacity: 0;

    margin-bottom: 1vh;
    /* Centrar horizontalmente */

    width: auto;
    height: auto;

    letter-spacing: 0.5vw;
    white-space: nowrap;

    animation: fadeInTit 0.5s 7s forwards;

    z-index: 2;
  }

  @keyframes fadeInTit {
    from {
      opacity: 0;
      /* Opacidad inicial: 0 */
    }

    to {
      opacity: 1;
      /* Opacidad final: 1 */
    }
  }

  @keyframes newTitAnim {

    0% {}

    100% {
      padding-top: 0px;
      margin-top: 10px;
      padding-bottom: 0%;

    }
  }

  #contenedor-titulo.animado {

    opacity: 1;
    animation: newTitAnim 0.5s forwards;
  }

  #nuevo-titulo {
    font-size: 4.5vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;

  }

  @keyframes newTitAnimex {

    0% {}

    100% {
      font-size: 2vw;

    }
  }

  #nuevo-titulo.animado {


    animation: newTitAnimex 0.5s forwards;
  }


  #nuevo-subtitulo {
    font-size: 2.5vw;
    text-align: center;
    /* Alinea el texto a la derecha dentro del contenedor */
    letter-spacing: 0.3vw;
    white-space: nowrap;
    color: #ffffff;
  }

  #nuevo-autorTitulo {
    font-size: 1.5vw;
    text-align: right;
    /* Alinea el texto a la derecha dentro del contenedor */
    color: #ffffff;
  }

  #contenedorItems0 {
    width: calc(100%);
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    margin-right: 1vw;
    margin-left: 1vw;


  }

  #conthandler {
    background-color: #ffffff00;
    width: 1vw;
    height: auto;


  }


  #c-text-handler {
    font-size: 1.9vvw;

    scale: (1.2);
    user-select: none;
    color: transparent;
  }

  #contenedorItems {
    --distanciaY: 0;
    --distanciaX: 0;
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /* Para alinear horizontalmente */
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    height: auto;
    /* Ocupar todo el ancho disponible */
    background-color: rgba(9, 255, 0, 0);
    z-index: 2;

  }

  /* Definición de keyframes */
  @keyframes moverElemento {
    0% {
      /* transform: translate(calc (var(--distanciaX)*-1), calc (var(--distanciaY)*-1));*/

    }

    100% {
      /* transform: translate(calc(var(--distanciaX)), calc(var(--distanciaY)));*/
      /* margin-left: 38vw;*/
      /* margin-right: 2rem;*/
      /* margin-top: 0;*/
      color: #034a68;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-top: 0;


    }
  }

  /* Aplicación de la animación */
  #contenedorItems.animado {

    width: calc(100% - 2vw);
    animation: moverElemento 0.1s ease forwards;

  }





  .linea {
    padding: 10px;
    border: 1px solid #2ffa4000;
    font-size: 2.8vw;
    margin: 1px;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    position: relative;
    white-space: pre-wrap;
    letter-spacing: 0.01em
  }

  .linea:last-child {
    /*margin-right: 0;*/
  }



  .linea.subrayado {
    text-decoration: underline;
    /* Subrayado cuando está activo */
  }

  .linea {

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Efecto de rebote */
    transition: letter-spacing 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);



  }


  .linea:hover {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */

  }


  .linea:active {
    transform: scale(1.2);
    /* Escala el texto al pasar el mouse */
    letter-spacing: 0.15em;
    /* Cambia el espaciado entre letras al pasar el mouse */
    color: #077bbe;
  }

  @keyframes cambiarTamanioTexto {
    from {
      font-size: 2.8vw;
    }

    to {
      font-size: 1.9vw;
    }
  }

  .linea.animado {

    animation: cambiarTamanioTexto 0.3s forwards;
    /* Aplicación de la animación */
  }

  .linea img {

    width: 0;
    height: 0;
    display: none;
  }
  #contenedorItems0-titulos {
    display: none;
  }

}


/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/



.linea {
  animation: aparecerlin 0.5s ease-in-out forwards 7s;
}

@keyframes aparecerlin {

  0% {
    pointer-events: none;
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;

    pointer-events: auto;

  }
}

.linea::after {
  pointer-events: auto;
}

/* Estilos para el contenedor que aparecerá después de 2 segundos */


/* Animación para mostrar el contenedor */
@keyframes aparecer {

  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* Aplicar la animación al contenedor */
#contenedor-delante3 {
  /* Resto de estilos ... */

  /* Aplicar la animación después de x segundos */
  animation: aparecer 0.5s ease-in-out forwards 7s;
}



.linea {
  font-family: 'Caveat', cursive;
  pointer-events: none;
}



#contenedor-principal2 {
  display: none;
  opacity: 0;
}

#contenedor-principal2.aparecerp2 {

  animation: aparecerp2 3s ease forwards;
}

@keyframes aparecerp2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.text-container {
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: var(--text-index);

  animation: bounce-text 6000ms ease-in-out infinite alternate;
}

@keyframes bounce-text {
  0% {
    transform: translate3d(-49.5%, -90%, 0);
  }

  16% {
    transform: translate3d(-50%, -85%, 0);
  }

  32% {
    transform: translate3d(-50%, -95%, 0);
  }

  58% {
    transform: translate3d(-50%, -87%, 0);
  }

  74% {
    transform: translate3d(-50%, -90%, 0);
  }

  100% {
    transform: translate3d(-50.5%, -90%, 0);
  }
}

.text-container p {
  margin: 0;
  letter-spacing: 0.5vw;
  white-space: nowrap;
}

.text-container .text {
  position: absolute;
}

.text-container .text .placeholder {
  opacity: 0;
}

.text-container .text .p {
  overflow: hidden;
  max-width: 0;
}

.intro {
  position: absolute;
  opacity: 0;
  top: 20%;
  /* Alinea la parte superior al 50% de la pantalla */
  left: 50%;
  /* Alinea la izquierda al 50% de la pantalla */
  transform: translateY(-80%) translateX(-50%);
  /* Centra vertical y horizontalmente */
  animation: fadeIn 2.3s 3s forwards, bounce 1.9s ease-in-out 2.8s forwards, fadeOut 0.5s 7s forwards;
  /* Aplica la animación fadeIn con duración de 2 segundos */

}

.intro .name {
  font-size: 7vw;
}

.intro .title {
  font-size: 3.75vw;
}

.intro .title2 {
  font-size: 2vw;
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /* Opacidad inicial: 0 */
  }

  to {
    opacity: 1;
    /* Opacidad final: 1 */
  }
}

@media only screen and (max-device-width: 640px) {
  .intro .name {
    font-size: 9vw;
  }

  .intro .title {
    font-size: 5.75vw;
  }

  .intro .title2 {
    font-size: 4vw;
    text-align: right;
  }
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(-80%) translateX(-50%);
    /* El inicio y el final deben estar en la posición original */
  }

  25% {
    transform: translateY(-70%) translateX(-50%);
    /* Baja */
  }

  75% {
    transform: translateY(-80%) translateX(-50%);
  }


}

@keyframes fadeOut {
  from {
    opacity: 1;
    /* Opacidad inicial: 1 */
  }

  to {
    opacity: 0;
    /* Opacidad final: 0 */
  }
}


/*    pantalla mobil       */
@media only screen and (max-device-width: 640px) {

  #contenedor-fondo {


    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
  }


  #cielo {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  #cielo::before,
  #cielo::after {

    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/paisaje2/fondo_vert_nubes.svg);
    background-size: cover;
    background-repeat: repeat-x;
    animation: moveBackground 15s linear infinite;
  }

  #cielo::before {
    left: 0;
  }

  #cielo::after {
    left: 100%;
  }

  @keyframes moveBackground {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }


}


/*    pantalla grande       */
@media only screen and (min-device-width: 641px) {

  #contenedor-fondo {


    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;

  }

  #cielo {
    width: 100%;
    height: 100vh;

    background-repeat: no-repeat;
    background-image: var(--bg-cielo);
    position: relative;
    overflow: hidden;
    background-size: cover;
  }

  #nube1 {
    background-image: var(--bg-nube-nueva);
    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 58%;
    /* Posición vertical centrada */
    left: 50%;
    /* Posición inicial centrada */
    transform: translate(-50%, -50%);
    animation: mover_nube1 50s forwards;
    /* Animación de movimiento de la nube */
    z-index: 3;

  }

  @keyframes mover_nube1 {
    0% {
      left: 50%;
      /* Comienza desde el centro de la pantalla */
    }

    100% {
      left: -50%;
      /* Llega a -10% (fuera de la pantalla a la izquierda) */
    }
  }



  #nube1b {
    background-image: var(--bg-nube-nueva);

    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 20%;
    /* Posición vertical centrada */
    left: 50%;
    /* Posición inicial centrada */
    transform: translate(-50%, -50%);
    animation: mover_nube1b 45s linear infinite;
    /* Animación de movimiento de la nube */
    z-index: 3;

  }

  #nube1bb {
    background-image: var(--bg-nube-nueva);
    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 23%;
    /* Posición vertical centrada */
    left: 55%;
    /* Posición inicial centrada */
    transform: translate(-48%, -50%);
    animation: mover_nube1b 45s linear infinite;
    /* Animación de movimiento de la nube */
    z-index: 3;

  }


  @keyframes mover_nube1b {
    0% {
      left: 120%;
      /* Comienza fuera de la pantalla en la derecha */
    }

    100% {
      left: -30%;
      /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
    }
  }

  #nube1 {
    background-image: var(--bg-nube-nueva);
    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 58%;
    /* Posición vertical centrada */
    left: 50%;
    /* Posición inicial centrada */
    transform: translate(-50%, -50%);
    animation: mover_nube1 35s linear forwards;
    /* Animación de movimiento de la nube */
    z-index: 3;

  }

  @keyframes mover_nube1 {
    0% {
      left: 50%;
      /* Comienza desde el centro de la pantalla */
    }

    100% {
      left: -50%;
      /* Llega a -10% (fuera de la pantalla a la izquierda) */
    }
  }

  #nube2 {
    background-image: var(--bg-nube-nueva);

    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 58%;
    /* Posición vertical centrada */
    left: 110%;
    /* Posición inicial centrada */
    transform: translate(-50%, -50%);
    animation: mover_nube2 40s linear infinite;
    /* Animación de movimiento de la nube */
    z-index: 3;
    animation-delay: 10s;
  }

  @keyframes mover_nube2 {
    0% {
      left: 110%;
    }

    100% {
      left: -10%;
      /* Llega a -10% (fuera de la pantalla a la izquierda) */
    }
  }

  #nube1c {
    background-image: var(--bg-nube-nueva);

    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 30%;
    /* Posición vertical centrada */
    left: 120%;
    /* Posición inicial centrada */
    transform: translate(-50%, -50%);
    animation: mover_nube1c 45s linear infinite;
    /* Animación de movimiento de la nube */
    z-index: 3;
    animation-delay: 20s;
  }

  #nube1cc {
    background-image: var(--bg-nube-nueva);

    background-repeat: no-repeat;
    /* No repetir la imagen */
    background-position: center;
    /* Centrar la imagen */
    width: 100%;
    /* Ancho del div igual al ancho de la imagen */
    height: 100%;
    /* Altura del div igual a la altura de la imagen */
    position: absolute;
    top: 33%;
    /* Posición vertical centrada */
    left: 120%;
    /* Posición inicial centrada */
    transform: translate(-48%, -50%);
    animation: mover_nube1c 45s linear infinite;
    /* Animación de movimiento de la nube */
    z-index: 3;
    animation-delay: 20s;
  }


  @keyframes mover_nube1c {
    0% {
      left: 120%;
      /* Comienza fuera de la pantalla en la derecha */
    }

    100% {
      left: -30%;
      /* Llega a 1 cm antes de salir de la pantalla en la izquierda */
    }
  }


}




/*    pantalla grande       */
@media only screen and (min-device-width: 641px) {
  #nube1 {
    background-size: 20%;
  }

  #nube2 {
    background-size: 20%;
  }

  #nube1b {
    background-size: 16%;
  }

  #nube1bb {
    background-size: 17%;
  }

  #nube1c {
    background-size: 16%;
  }

  #nube1cc {
    background-size: 17%;
  }
}



/*  montanas 1 ----> frente, mas cerca   */

#montanas_1 {
  --current1: 0vw;
  --index-dif1: 25vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100%;
  /* Altura deseada para el div */

  background-image: var(--bg-montanas1);
  position: fixed;
  left: 0;
  overflow: hidden;

  z-index: 2;
}


#montanas_1.mover {
  animation: moverImagenFondo_montana1 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_1.mover_der {
  animation: moverImagenFondo_montana1_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana1 {
  from {
    background-position-x: calc(var(--current1, 0));
  }

  to {


    background-position-x: calc(var(--current1, 0) - var(--index-dif1, 25vw));
  }
}

@keyframes moverImagenFondo_montana1_der {
  from {
    background-position-x: calc(var(--current1, 0));
  }

  to {


    background-position-x: calc(var(--current1, 0) + var(--index-dif1, 25vw));
  }
}

#montanas_2 {
  --current2: 0vw;
  --index-dif2: 50vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100%;
  /* Altura deseada para el div */

  background-image: var(--bg-montanas2);
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 2;
}


#montanas_2.mover {
  animation: moverImagenFondo_montana2 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_2.mover_der {
  animation: moverImagenFondo_montana2_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana2 {
  from {
    background-position-x: calc(var(--current2, 0));
  }

  to {


    background-position-x: calc(var(--current2, 0) - var(--index-dif2, 50vw));
  }
}

@keyframes moverImagenFondo_montana2_der {
  from {
    background-position-x: calc(var(--current2, 0));
  }

  to {


    background-position-x: calc(var(--current2, 0) + var(--index-dif2, 50vw));
  }
}


#montanas_3 {
  --current3: 0vw;
  --index-dif1: 100vw;
  background-size: 300% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100%;
  /* Altura deseada para el div */

  background-image: var(--bg-montanas3);
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 2;
}




#montanas_3.mover {
  animation: moverImagenFondo_montana3 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

#montanas_3.mover_der {
  animation: moverImagenFondo_montana3_der 2s ease forwards;
  /* Ajusta la duración según sea necesario */
}

@keyframes moverImagenFondo_montana3 {
  from {
    background-position-x: calc(var(--current3, 0));
  }

  to {


    background-position-x: calc(var(--current3, 0) - var(--index-dif3, 100vw));
  }
}

@keyframes moverImagenFondo_montana3_der {
  from {
    background-position-x: calc(var(--current3, 0));
  }

  to {


    background-position-x: calc(var(--current3, 0) + var(--index-dif3, 100vw));
  }
}




#burrito1-container {
  background-color: #be4d0700;
  width: 100%;
  height: 100vh;
  /* Altura de la pantalla */
  position: fixed;
  bottom: 0;
  /* Se ubica en la parte inferior */
  left: 0;
  /* Alineación a la izquierda */
  z-index: 3;

  display: flex;
  justify-content: center;
  /* Centrado horizontal */
}

#burrito1 {

  background-image: url("./images/burrito.png");


  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-position: bottom;
  /* Centrar la imagen */
  width: 100%;
  /* Ancho del div igual al ancho de la imagen */
  height: 100%;
  /* Altura del div igual a la altura de la imagen */
  position: absolute;
  top: -1vw;
  /* Posición vertical centrada */
  left: 0%;
  /* Posición inicial centrada */

  transform: scaleX(-1);
  /* Voltea verticalmente la imagen */
  z-index: 3;
  background-size: 15vw;
}

@media only screen and (max-device-width: 640px) {
  #burrito1 {
    background-size: 40vw;
    background-position-x: right;
  }
}


@keyframes moverDerecha {
  from {
    left: 0%;
  }

  to {
    left: 110%;
    /* Movimiento hacia la derecha */
  }
}

#burrito1.mover {
  animation: moverDerecha 1s ease-in forwards;
  /* Duración de la animación: 1 segundo */
}

#sol {
  background-size: 100% auto;

  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100%;
  /* Altura deseada para el div */

  background-image: var(--bg-sol);
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 1;

}


#fondo_nubes {

  background-size: 300% auto;
  background-position: bottom;
  background-position-x: left;
  background-repeat: repeat-x;
  width: 100vw;
  height: 100%;
  /* Altura deseada para el div */

  background-image: var(--bg-nubes-detras);
  position: fixed;
  overflow: hidden;
  z-index: 1;
  /* Aplica la animación */
  animation: moverNubes_fondo 490s linear infinite;
  /* Ajusta la duración y el efecto según sea necesario */

}

@keyframes moverNubes_fondo {
  0% {
    background-position-x: left;
    /* Comienza en la posición actual */
  }

  100% {
    background-position-x: 300%;
    /* Mueve completamente a la izquierda */
  }
}











#nuevo-titulo,
#nuevo-subtitulo,
#nuevo-autorTitulo {
  margin: 0;
  user-select: none;
}